@import "tailwindcss";

@font-face {
    font-family: GTPlanar;
    font-style: normal;
    font-display: swap;
    src: url("./GT-Planar-Regular.otf") format("opentype");
}

@theme {
    --font-co: GTPlanar, sans-serif;

    --fx-unit: 48px;

    --text-base: var(--fx-unit);
    --text-base--line-height: var(--fx-unit);

    --color-co-orange: #fe5900;
    --color-co-beige: #edece3;
}

.Table {
    @apply text-4xl
        flex flex-col
        min-w-96
        bg-white
}

.Table > div {
    @apply flex flex-row w-full h-[64px]
}
.Table > div :nth-child(1) {
    @apply font-bold
}


.Time {
    font-variant-numeric: tabular-nums;
    box-shadow: inset 0 -8px 0 var(--color-co-beige);
    @apply
        text-base
        p-[calc(var(--fx-unit)/2)]

        bg-co-orange
        text-co-beige
        font-co
}