@import "tailwindcss";
@import "./theme.css";

@import "./Time.css";
@import "./Table.css";
@import "./Text.css";
@import "./fonts.css";

body {
    @apply antialiased
}

.slide-enter-active {
    animation: slideLeft 200ms ease-in-out;
}

.slide-leave-active {
    animation: slideRight 200ms reverse ease-in-out;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: skewX(60deg) scaleX(150%);
        transform-origin: right center;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: skewX(-60deg) scaleX(150%);
        transform-origin: left center;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}