@import "tailwindcss";
@import "./theme.css";

@import "./Time.css";
@import "./Table.css";
@import "./Text.css";
@import "./Admin.css";
@import "./fonts.css";

body {
    @apply antialiased
}

.slide-enter-active {
    animation: slideLeft 200ms ease-in-out;
}

.slide-leave-active {
    animation: slideRight 200ms reverse ease-in-out;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        /*transform: skewX(60deg) scaleX(150%);*/
        transform: translateX(128px);
        transform-origin: right center;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        /*transform: skewX(-60deg) scaleX(150%);*/
        transform: translateX(-128px);
        transform-origin: left center;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
    transition: all 200ms ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(32px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
    position: absolute;
    transform-origin: bottom center;
}

.table-enter-active { animation: 200ms clip-top; }
.table-leave-active { animation: 200ms clip-bottom reverse; }

.table-leave-active {
    position: absolute;
    width: 100%;
}

/* +-50% for not-clipping the scaled elements */
@keyframes clip-top {
    0% { clip-path: inset(0 -50% 100% -50%); }
    100% { clip-path: inset(0 -50% 0 -50%); }
}
@keyframes clip-bottom {
    0% { clip-path: inset(100% -50% 0 -50%); }
    100% { clip-path: inset(0 -50% 0 -50%); }
}

/* enter by sliding */
.nested-slide-enter-active {
    animation: slideLeft 200ms ease-in-out;
    animation-fill-mode: both;
}
/* unclip from top */
.nested-slide-enter-active .Animate__Slide + .Animate__Clip {
    animation: clip-top 300ms ease-in-out;
    animation-delay: 200ms;
    animation-fill-mode: both;
}
/* unclip from bottom */
.nested-slide-enter-active .Animate__Clip:has(+ .Animate__Slide) {
    animation: clip-bottom 300ms ease-in-out;
    animation-delay: 200ms;
    animation-fill-mode: both;
}
/* clip to top */
.nested-slide-leave-active .Animate__Slide + .Animate__Clip {
    animation: clip-top 200ms ease-in-out reverse;
    animation-fill-mode: both;
}
/* clip to bottom */
.nested-slide-leave-active .Animate__Clip:has(+ .Animate__Slide) {
    animation: clip-bottom 200ms ease-in-out reverse;
    animation-fill-mode: both;
}
/* leave by sliding */
.nested-slide-leave-active {
    animation: slideRight 200ms ease-in-out reverse;
    animation-delay: 300ms;
    animation-fill-mode: both;
}
