.Time {
    /*box-shadow: inset 0 8px 0 var(--color-co-beige);*/
    @apply
    tabular-nums
    p-4

    text-co-orange
    bg-co-beige
    font-co
    text-xl

    flex flex-row justify-around items-center gap-x-2
}