.Text {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Text__Content {
    font-family: var(--font-co);
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    text-transform: uppercase;
    color: var(--color-co-black);
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    width: 100%;
}

.Text__Icon {
    width: 6rem;
    height: 6rem;
    background-color: var(--color-co-orange);
    fill: var(--color-co-beige);
    stroke: var(--color-co-beige);
    color: var(--color-co-beige);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.Text__Gutter {
    width: 1rem;
    height: 6rem;
    background-color: var(--color-co-orange);
}

.Text--detail .Text__Content {
    font-size: var(--text-md);
    line-height: var(--text-md--line-height);
    padding: 1rem;
}

.RaceTitle {
    display: flex;
    flex-direction: column;
}

.RaceTitle__Title {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    color: var(--color-co-beige);
    text-transform: uppercase;
    grid-column: span 2;
    background-color: var(--color-co-orange);
    font-style: italic;
    font-weight: 600;
    padding: 1.5rem;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    font-family: var(--font-co);
}

.RaceTitle__Subtitle {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4.5rem;
    background-color: white;
    font-size: var(--text-md);
    line-height: var(--text-md--line-height);
    font-weight: 600;
    color: var(--color-co-black);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: space-between;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.RaceTitle__Subtitle svg {
    stroke: var(--color-co-black);
}
