@import "tailwindcss";

@theme {
    --font-co: GTPlanar, sans-serif;
    --font-gfx: var(--gfx-font-family);

    --spacing: 4px;

    --text-md: 32px;
    --text-md--line-height: 32px;

    --text-lg: 48px;
    --text-lg--line-height: 48px;

    --text-xl: 64px;
    --text-xl--line-height: 64px;

    --color-co-orange: #fe5900;
    --color-co-beige: #edece3;
    --color-co-black: #272727;

    --color-gfx-primary: var(--gfx-color-primary);
    --color-gfx-secondary: var(--gfx-color-secondary);
    --color-gfx-text: var(--gfx-color-text);
    --color-gfx-surface: var(--gfx-color-surface);
    --color-gfx-on-primary: var(--gfx-color-on-primary);
    --color-gfx-on-secondary: var(--gfx-color-on-secondary);
    --color-gfx-divider: var(--gfx-color-divider);
    --color-gfx-positive: var(--gfx-color-positive);
    --color-gfx-iof-accent: var(--gfx-color-iof-accent);
    --color-gfx-split-positive: var(--gfx-color-split-positive);
    --color-gfx-split-negative: var(--gfx-color-split-negative);
    --color-gfx-split-neutral: var(--gfx-color-split-neutral);
}
