.Time {
    font-variant-numeric: tabular-nums;
    padding: 1rem;
    color: var(--color-co-orange);
    background-color: var(--color-co-beige);
    font-family: var(--font-co);
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 0.5rem;
}